### To run this Jupyter Notebook, you will need 
1. cbastats folder, which should contain DBHelper.py. Download here https://github.com/JJnotJimmyJohn/CBA-stats/tree/master/cbastats
2. a ".env" file. Content should look like below. Replace password, username with your own username and password. Note: Don't include " " before or after "=".

MONGODB_PWD=password

MONGODB_USERNAME=username

MONGODB_ENDPOINT=cbastats.wllis.mongodb.net/

In [2]:
from cbastats import DBHelper
import datetime
# import pytz
import pandas as pd

In [4]:
mongodbio =DBHelper.MongoDBHelper() 
client = mongodbio.create_connection(DBHelper.MONGODB_USERNAME,DBHelper.MONGODB_PWD,DBHelper.MONGODB_ENDPOINT)

db = client['cbaStats']

existing database ['cbaStats', 'admin', 'local']

In [5]:
db.list_collection_names()

['cbaGamesStaging', 'seasonTeamStats', 'seasonPlayerStats', 'cbaGames']

# 球队高阶数据统计

In [8]:
team_stats = pd.DataFrame(mongodbio.select_records(db['seasonTeamStats']),)
team_stats.drop('_id',axis=1,inplace=True)
team_stats

     场均净胜分MOV        Pace  OffensiveRating  DefensiveRating  NetRating
0   15.000000   93.928815       125.344309       109.063217  16.281092
1   13.846154  102.029246       122.873255       108.949940  13.923315
2   10.333333   95.743193       119.930225       108.942897  10.987328
3    5.357143   95.217924       115.916163       110.160643   5.755520
4    5.000000   94.628774       113.277126       107.945473   5.331653
5    2.892857   90.948521       116.318232       113.093805   3.224427
6    2.925926   95.589649       112.058021       108.935416   3.122604
7    0.692308   95.595370       116.997593       116.264576   0.733017
8   -0.080000   92.561961       111.799280       111.887834  -0.088554
9   -0.461538   93.691184       115.118967       115.623137  -0.504171
10  -1.153846   90.932015       110.015565       111.314450  -1.298885
11  -2.321429   92.801867       109.593452       112.138495  -2.545043
12  -2.807692   92.704211       108.803691       111.878669  -3.074978
13  -2.961538   89.694925       106.872813       110.223467  -3.350654
14  -3.440000   93.328782       109.407458       113.150115  -3.742658
15  -8.107143   95.072640       107.237642       115.916054  -8.678412
16  -8.714286   94.593324       103.022917       112.298781  -9.275864
17 -10.884615   94.975563       112.093186       123.820495 -11.727309
18 -13.285714   94.330367       103.415673       117.786472 -14.370799

# 球员高阶数据

In [9]:
player_stats = pd.DataFrame(mongodbio.select_records(db['seasonPlayerStats']),)
player_stats.drop('_id',axis=1,inplace=True)
player_stats.head()

,球员,球队,OffensiveRating,DefensiveRating,NetRating,UsagePercent,出场时间,首发,进攻篮板,防守篮板,...,扣篮,被侵,得分,2分中,2分投,3分中,3分投,罚球中,罚球投,出场
0,约翰逊,青岛,116.332407,109.666492,6.665915,30.286175,318,6,57,101,...,6,107,235,81,132,0,0,73,138,13
1,刘传兴,青岛,117.346638,113.283259,4.063379,15.326179,597,17,75,139,...,15,83,220,76,125,0,0,68,97,27
2,王睿泽,青岛,117.804332,114.323325,3.481006,18.456392,189,5,6,18,...,2,6,93,17,31,19,39,2,3,9
3,斯蒂马克,青岛,115.106081,114.852342,0.253739,28.181313,126,0,26,45,...,2,22,84,32,58,3,6,11,25,9
4,赵泰隆,青岛,114.166121,114.938112,-0.771991,14.699538,418,16,6,25,...,1,16,153,18,34,36,93,9,17,19