# Testing Stats

In [1]:
import pandas as pd

### George Hill stats

In [2]:
ghill = pd.read_csv('GeorgeHill_testdata_20191225.csv')
ghill.head()

,G,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,30:47,3,7,0.429,2,4,0.500,0,0,...,0,0,7,2,0,0,2,8,10.4,16.0
1,2,28:47,2,4,0.500,1,3,0.333,0,0,...,2,2,4,1,1,1,6,5,4.7,-18.0
2,3,19:22,7,10,0.700,1,2,0.500,4,7,...,6,8,3,2,0,0,0,19,20.9,12.0
3,4,20:13,5,9,0.556,2,5,0.400,0,0,...,2,5,2,0,0,1,2,12,10.0,-8.0
4,5,15:20,4,6,0.667,1,1,1.000,0,1,...,1,2,2,1,0,0,0,9,9.4,15.0

In [3]:
ghill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 22 columns):
G       29 non-null int64
MP      29 non-null object
FG      29 non-null int64
FGA     29 non-null int64
FG%     29 non-null float64
3P      29 non-null int64
3PA     29 non-null int64
3P%     27 non-null float64
FT      29 non-null int64
FTA     29 non-null int64
FT%     21 non-null float64
ORB     29 non-null int64
DRB     29 non-null int64
TRB     29 non-null int64
AST     29 non-null int64
STL     29 non-null int64
BLK     29 non-null int64
TOV     29 non-null int64
PF      29 non-null int64
PTS     29 non-null int64
GmSc    28 non-null float64
+/-     28 non-null float64
dtypes: float64(5), int64(16), object(1)
memory usage: 5.1+ KB

### Bucks stats

In [13]:
bucks = pd.read_csv('MIL_stats.csv')
bucks.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Milwaukee Bucks,31,7465,1362,2828,0.482,444,1229,0.361,...,0.725,314,1276,1590,805,252,192,453,616,3739

In [15]:
bucks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
Rk      1 non-null int64
Team    1 non-null object
G       1 non-null int64
MP      1 non-null int64
FG      1 non-null int64
FGA     1 non-null int64
FG%     1 non-null float64
3P      1 non-null int64
3PA     1 non-null int64
3P%     1 non-null float64
2P      1 non-null int64
2PA     1 non-null int64
2P%     1 non-null float64
FT      1 non-null int64
FTA     1 non-null int64
FT%     1 non-null float64
ORB     1 non-null int64
DRB     1 non-null int64
TRB     1 non-null int64
AST     1 non-null int64
STL     1 non-null int64
BLK     1 non-null int64
TOV     1 non-null int64
PF      1 non-null int64
PTS     1 non-null int64
dtypes: float64(4), int64(20), object(1)
memory usage: 328.0+ bytes

### Bucks Opponents stats

In [97]:
opponents = pd.read_csv('Opponent_stats.csv')
opponents.head()

,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,31,7465,1199,2893,0.414,432,1184,0.365,767,1709,...,0.761,303,1122,1425,752,209,140,472,684,3321

In [98]:
opponents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 23 columns):
G      1 non-null int64
MP     1 non-null int64
FG     1 non-null int64
FGA    1 non-null int64
FG%    1 non-null float64
3P     1 non-null int64
3PA    1 non-null int64
3P%    1 non-null float64
2P     1 non-null int64
2PA    1 non-null int64
2P%    1 non-null float64
FT     1 non-null int64
FTA    1 non-null int64
FT%    1 non-null float64
ORB    1 non-null int64
DRB    1 non-null int64
TRB    1 non-null int64
AST    1 non-null int64
STL    1 non-null int64
BLK    1 non-null int64
TOV    1 non-null int64
PF     1 non-null int64
PTS    1 non-null int64
dtypes: float64(4), int64(19)
memory usage: 312.0 bytes

# Offensive Rating Calculation

In Dean's words, "Individual offensive rating is the number of points produced by a player per hundred total individual possessions. In other words, 'How many points is a player likely to generate when he tries?'"

The basic building blocks of the Offensive Rating calculation are:
* Individual Total Possessions and 
* Individual Points Produced.

## Total Possessions

The formula for Total Possessions is broken down into four components: Scoring Possessions, Missed FG Possessions, Missed FT Possessions, and Turnovers.

###### Team stats start with team_xxx
###### Opponent stats start with opponent_
###### Otherwise it's player stats

### FG_Part

In [18]:
def fgm(df,col_name):
    return sum(df[col_name])

FGM = fgm(ghill,'FG')
FGM

104

In [19]:
def pts(df,col_name):
    return sum(df[col_name])

PTS = pts(ghill,'PTS')
PTS

298

In [21]:
def ftm(df,col_name):
    return sum(df[col_name])

FTM = ftm(ghill,'FT')
FTM

43

In [22]:
def fga(df,col_name):
    return sum(df[col_name])

FGA = fga(ghill,'FGA')
FGA

191

In [56]:
def mp(df,col_name):
    time_list = df[col_name].str.split(':').tolist()
    seconds = sum([60*int(x[0])+int(x[1]) for x in time_list])
    return seconds/60

MP = mp(ghill,'MP')
MP

620.7166666666667

In [65]:
print(bucks)

   Rk             Team   G    MP    FG   FGA    FG%   3P   3PA    3P%  ...  \
0   1  Milwaukee Bucks  31  7465  1362  2828  0.482  444  1229  0.361  ...

     FT%  ORB   DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0  0.725  314  1276  1590  805  252  192  453  616  3739

[1 rows x 25 columns]

### For team stats, may need to change, depends on how team data are shaped:
    if it's a dataframe, what type of data that is; is it derived from per game stats? (I think so)
    
    Since there is no team level MP stats, team_MP will be (both teams' players total MP/10)

In [64]:
def team_mp():
    pass
    return 7465

Team_MP = team_mp()
Team_MP

7465

In [68]:
def team_ast():
    pass
    return 805

Team_AST = team_ast()
Team_AST

805

In [69]:
def ast(df,col_name):
    return sum(df[col_name])

AST = fga(ghill,'AST')
AST

88

In [72]:
def team_fgm():
    pass
    return 1362

Team_FGM = team_fgm()
Team_FGM

1362

In [74]:
qAST = ((MP / (Team_MP / 5)) * (1.14 * ((Team_AST - AST) / Team_FGM))) + ((((Team_AST / Team_MP) * MP * 5 - AST) / ((Team_FGM / Team_MP) * MP * 5 - FGM)) * (1 - (MP / (Team_MP / 5))))
print(qAST)

0.561287941365982

In [76]:
FG_Part = FGM * (1 - 0.5 * ((PTS - FTM) / (2 * FGA)) * qAST)
FG_Part

84.51654946986146

### AST_Part

In [78]:
def team_pts():
    pass
    return 3739

Team_PTS = team_pts()
Team_PTS

3739

In [80]:
def team_ftm():
    pass
    return 571

Team_FTM = team_ftm()
Team_FTM

571

In [82]:
def team_fga():
    pass
    return 2828

Team_FGA = team_fga()
Team_FGA

2828

In [84]:
AST_Part = 0.5 * (((Team_PTS - Team_FTM) - (PTS - FTM)) / (2 * (Team_FGA - FGA))) * AST
AST_Part

24.302616609783847

### FT_Part

In [86]:
def fta(df,col_name):
    return sum(df[col_name])

FTA = fga(ghill,'FTA')
FTA

50

In [88]:
FT_Part = (1-(1-(FTM/FTA))**2)*0.4*FTA
FT_Part

19.608000000000004

### Team_Scoring_Poss

In [90]:
def team_fta():
    pass
    return 788

Team_FTA = team_fta()
Team_FTA

788

In [93]:
Team_Scoring_Poss = Team_FGM + (1 - (1 - (Team_FTM / Team_FTA))**2) * Team_FTA * 0.4
Team_Scoring_Poss

1653.2969543147208

### Team_ORB% (Team_ORB_perc)

In [99]:
def opponent_trb():
    pass
    return 1425

Opponent_TRB = opponent_trb()
Opponent_TRB

1425

In [100]:
def opponent_orb():
    pass
    return 303

Opponent_ORB = opponent_orb()
Opponent_ORB

303

In [101]:
Team_ORB_perc = Team_ORB / (Team_ORB + (Opponent_TRB - Opponent_ORB))
Team_ORB_perc

0.21866295264623956

### Team_Play% (Team_Play_perc)

In [104]:
def team_tov():
    pass
    return 453

Team_TOV = team_tov()
Team_TOV

453

In [106]:
Team_Play_perc = Team_Scoring_Poss / (Team_FGA + Team_FTA * 0.4 + Team_TOV)
Team_Play_perc

0.45973442920714114

### Team_ORB_Weight

In [107]:
Team_ORB_Weight = ((1 - Team_ORB_perc) * Team_Play_perc) / ((1 - Team_ORB_perc) * Team_Play_perc + Team_ORB_perc * (1 - Team_Play_perc))
Team_ORB_Weight

0.752513570230724

### ORB_Part

In [12]:
def orb(df:pd.DataFrame,col_name:str):
    '''
    This function calculates total offensive rebounds by taking a sum of the column 'col_name' in dataframe 'df'
    
    Parameters: 
        df (pd.DataFrame): The dataframe contains the data. 
        col_name (str): name of the ORB column
          
    Returns: 
        an int 
    '''
    return sum(df[col_name])

30

In [16]:
ORB = orb(ghill,'ORB')
Team_ORB = orb(bucks,'ORB')

In [109]:
ORB_Part = ORB * Team_ORB_Weight * Team_Play_perc
ORB_Part

10.378691900419494

## Missed FG possession

In [111]:
FGxPoss = (FGA - FGM) * (1 - 1.07 * Team_ORB_perc)
FGxPoss

66.64466573816156

### Missed FT possession

In [113]:
FTxPoss = ((1 - (FTM / FTA))**2) * 0.4 * FTA
FTxPoss

0.39200000000000007

### Scoring Possessions

In [115]:
ScPoss = (FG_Part + AST_Part + FT_Part) * (1 - (Team_ORB / Team_Scoring_Poss) 
                                           * Team_ORB_Weight * Team_Play_perc) + ORB_Part
ScPoss

130.36751746173454

### Total Possessions

In [117]:
def tov(df,col_name):
    return sum(df[col_name])

TOV = tov(ghill,'TOV')
TOV

24

In [118]:
TotPoss = ScPoss + FGxPoss + FTxPoss + TOV
TotPoss

221.4041831998961

---

---

---

The basic building blocks of the Offensive Rating calculation are:
* Individual Total Possessions and 
* Individual Points Produced.

## Points Produced

### Point Produced FG Part

In [121]:
def threePM(df,col_name):
    return sum(df[col_name])

ThreePM = threePM(ghill,'3P')
ThreePM

47

In [123]:
PProd_FG_Part = 2 * (FGM + 0.5 * ThreePM) * (1 - 0.5 * ((PTS - FTM) / (2 * FGA)) * qAST)
PProd_FG_Part

207.22807802706416

### Point Produced AST part

In [128]:
def team_3PM():
    pass
    return 444

Team_3PM = team_3PM()
Team_3PM

444

In [130]:
PProd_AST_Part=2*((Team_FGM - FGM + 0.5 * (Team_3PM - ThreePM)) / (Team_FGM - FGM))*0.5*(
    ((Team_PTS - Team_FTM) - (PTS - FTM)) / (2 * (Team_FGA - FGA))) * AST
PProd_AST_Part

56.274659923927146

### Point Produced ORB part

In [133]:
PProd_ORB_Part = ORB * Team_ORB_Weight * Team_Play_perc * (Team_PTS / (Team_FGM + (1 - (1 - (Team_FTM / Team_FTA))**2) * 0.4 * Team_FTA))
PProd_ORB_Part

23.471844494961434

### Point Produced

In [136]:
PProd = (PProd_FG_Part + PProd_AST_Part + FTM) * (1 - (Team_ORB / Team_Scoring_Poss) * Team_ORB_Weight * Team_Play_perc) + PProd_ORB_Part
PProd

309.83573992857566

### Offensive Rating

In [138]:
ORtg = 100 * (PProd / TotPoss)
ORtg

139.9412312137023